footer {
  padding: 6em 0;
  background: #358bca;
  color: #fff;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}

.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

#content {
  .owl-carousel {
    .item {
      margin-top: 70px;
      margin-right: 10px;
      margin-bottom: 0px;
      margin-left: 10px;
    }
  }
}